*{
    background-color: green;
    color: black;
}

h2 {
    border-bottom: .5rem double black;
}

header{
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 5px black;
}

header img {
    width: 20%;
}

header a{
    text-decoration: none;
    color: black;
    border:solid 3px black;
    box-shadow: 5px 5px white;
    padding: 0 5px;
    margin: 5px 15px;
}

header a:hover {
    color: white;
    border:solid 3px white;
    box-shadow: 5px 5px gray;
    padding: 0 5px;
}

header a:active {
    color: rgb(170, 170, 170);
    border:solid 3px gray;
    margin-left: 5px;
    margin: 5px; 
    box-shadow: 0 0;
    padding: 0 5px;
}

header a:visited {
    color: #056921;
}

#Join_Us {
    margin-bottom: 1rem;
}

.locations_container, 
.events_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.location, 
.event {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 5px;
}

.event {
    border: solid 5px black;
    padding: .5rem;
}

.location h3,
.event p,
.event h3{
    text-align: center;
}

.location img,
.event img {
    background-color: rgb(56, 56, 56);
    height: 20em;
    width: auto;
    max-width: 75%;
    border-radius: 10px;
}

.event img {
    object-fit: contain;
}

.location img {
    object-fit: cover;
}


footer{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

footer nav a{
    margin: 10px;
}

@media screen and (max-width: 1024px ){
    header{
        padding: 1rem;
        flex-direction: column;
    }
    header nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 50%;
    }

    h2 {
        border-bottom: .25rem double black;
    }

    h2, h3, p {
        text-align: center;
    }

    .location img,
    .event img {
        height: auto;
        width: 20rem;
        object-fit: fill;
    }

    .location, 
    .event {
        width: 100%;
    }
    
    .event {
        padding: 0;
        width: 50%;
    }
}